<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="content-page">
  <div class="content">
    <div class="container-fluid">
      <h2 class="mb-4 text-primary">Liste des Currency</h2>
      <button class="btn btn-success mb-3" (click)="navigateToAjouter()">
        <i class="fas fa-plus"></i> Ajouter une Currency
      </button>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" #CurrencyTable datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead class="thead-custom">
            <tr>
              <th>ID Currency</th>
              <th>Nom Currency</th>
              <th>Description Currency</th>
              <th>Prix Currency</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Currency of currency">
              <td>{{ Currency.id }}</td>
              <td>{{ Currency.code }}</td>
              <td>{{ Currency.name }}</td>
              <td>{{ Currency.symbol }}</td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="navigateToModifier(Currency.id)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="deletecurrency(Currency.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
