
<div class="content-page">
  <div class="content">
      <div class="container-fluid">
        <form (ngSubmit)="updateChambre()" #chambreForm="ngForm" class="chambre-form" novalidate *ngIf="produit">              <label>ID Chambre: </label>
              <input type="text" [(ngModel)]="produit.idProduit" name="idProduct" class="form-control" disabled>

              <label>Nom Produit: </label>
              <input type="text" [(ngModel)]="produit.nomProduit" name="nomProduit" class="form-control" required>
              <div *ngIf="chambreForm.controls['nomProduit'].hasError('required') && (chambreForm.submitted || chambreForm.controls['nomProduit'].touched)"
                class="error-message">
                nom Produit est requis.
              </div>

              <label><Div></Div>Description Produit: </label>
              <input type="text" [(ngModel)]="produit.descriptionProduit" name="descriptionProduit" class="form-control" required>
              <div *ngIf="chambreForm.controls['descriptionProduit'].hasError('required') && (chambreForm.submitted || chambreForm.controls['descriptionProduit'].touched)"
                class="error-message">
                Description Produit est requis.
              </div>
             
              <label>Prix Produit: </label>
              <input type="number" [(ngModel)]="produit.prixProduit" name="prixProduit" class="form-control" required>
              <div *ngIf="chambreForm.controls['prixProduit'].hasError('required') && (chambreForm.submitted || chambreForm.controls['prixProduit'].touched)"
                class="error-message">
                Prix Produit est requis.
              </div>
              
              
              <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
          </form>
      </div>
  </div>
</div>

