<div class="content-page">
  <div class="content">
    <div class="container-fluid">
      <form (ngSubmit)="ajouterChambre()" #produitForm="ngForm" class="produit-form" novalidate>
        <div>
          <label>Nom Produit: </label>
          <input type="text" [(ngModel)]="newChambre.nomProduit" name="nomProduit" class="form-control" required>
          <div *ngIf="produitForm.controls['nomProduit'].hasError('required') && (produitForm.submitted || produitForm.controls['nomProduit'].touched)"
            class="error-message">
            Nom Produit est requis.
          </div>
        </div>

        <div>
          <label>Description Produit: </label>
          <input type="text" [(ngModel)]="newChambre.descriptionProduit" name="descriptionProduit" class="form-control" required>
          <div *ngIf="produitForm.controls['descriptionProduit'].hasError('required') && (produitForm.submitted || produitForm.controls['descriptionProduit'].touched)"
            class="error-message">
            Description Produit est requis.
          </div>
        </div>

        <div>
          <label>Prix Produit: </label>
          <input type="number" [(ngModel)]="newChambre.prixProduit" name="prixProduit" class="form-control" required>
          <div *ngIf="produitForm.controls['prixProduit'].hasError('required') && (produitForm.submitted || produitForm.controls['prixProduit'].touched)"
            class="error-message">
            Prix Produit est requis.
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Ajouter Produit</button>
      </form>
    </div>
  </div>
</div>
